html{
    font-size: 22px;
}

body{

    font-family: monospace;   
    
}


button,input, text,select{
    font: inherit;
}
h1,h2{
    color: blue;

}

p{
    color: purple;
}

.highlight{
    font-weight: bold;
    color: red;
    background-color: aqua;
}
p span{
    text-transform: uppercase;
    background-color: gold;
}

.gray{
    color: gray;
}

#second{
    font-style: italic;
}